.sales-intro-section{
    /* Aqui lo que hice fue darle una altura y ancho del 100% para que ocupe toda la pagina. */
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00f28e, #00B4D8);
}
.form-ventas{
    /* Aqui solo cambie el color de fondo por uno blanco transparente */
    background-color: rgba(255, 255, 255, 0.4) ;
    padding: 2rem;
    border-radius: 1rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    border : 1px solid white;
    margin: 0.5rem;
    max-width: 700px;
}

h3{
    /* El titulo que tenias arriba lo meti en el formulario  */
    font-family: var (--bs-body-font-family);
    font-size: 1.5rem;
    color: black;
    text-align: center;
}
.contenedor-input{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inputs{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 90px;
}
.default{
    /* Lo que seria a la tabla le cambie el color de fondo y le di una altura 
    y ancho de 80% para que ocupe casi todo el contenedor */
    background-color: rgba(255, 255, 255, 0.4);
    background-color:#CAF0F8;
    text-align: left;
    border-collapse: collapse;
    width: 80%;
    height: 80%;
}
.sales-table{
    /* Al div que contiene la tabla le di un display flex y le dije que los elementos que contenga estuvieran centrados en este caso
    la tabla. Tambien le cambie el color de fondo y le redondee los bordes*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    border : 1px solid white;
}

.sales-main-container {
    /* Este es el estilo para el contenedor que encierra la tabla y el formulario y 
    le di un display flex para que estubieran pegados y de tal forma poder poner la tabla a la izquierda */
    display: flex;
}